// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$monument-angular-primary: mat-palette($mat-indigo);
$monument-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$monument-angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$monument-angular-theme: mat-light-theme(
  (
    color: (
      primary: $monument-angular-primary,
      accent: $monument-angular-accent,
      warn: $monument-angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($monument-angular-theme);

/* You can add global styles to this file, and also import other style files */
$colors: (
  primary: #042f54,
  secondary: #fecf31,
  accent: #7d24ff,
  links: #6aa3d4,
  white: #fff,
  black: #000,
  grey: #888888,
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}
$padding: 1em;
$radius: 15px;
$shadow: 3px 5px 15px rgba(0, 95, 255, 0.15);
#primary {
  color: #042f54;
}

html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: inherit !important;
  overflow-y: inherit !important;
}
h1 {
  font-size: 64px !important;
  font-family: "Oswald", sans-serif;
  color: color(primary);
  text-transform: capitalize;
}
h1.hero-main {
  font-size: 72px !important;
  text-align: right !important;
  text-transform: capitalize !important;
}
h2 {
  font-family: "Oswald", sans-serif !important;
  color: color(primary);
  font-size: 3em !important;
  font-weight: bold !important;
}
h3 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.7em !important;
  color: color(primary);
  line-height: 1.5em !important;
  font-weight: 600;
}
h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  color: color(primary);
}
h5 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: color(primary);
}
p {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  color: color(primary);
  line-height: 1.5em;
}
.text-center {
  text-align: center;
}
a {
  color: color(links) !important;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: bold;
  cursor: pointer;
}
header {
  background-image: url("assets/hero-bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}
header.main-hero {
  min-height: 80vh;
  padding: 2em;
}

div.yellow-section {
  background-color: color(secondary);
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
}
section {
  width: 90%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}
h2.marker {
  font-family: "Segoe UI" !important;
  text-align: center;
  font-weight: 800 !important;
}
p.marker {
  text-align: center;
}
.underline-stroke {
  width: 150px;
}
.underline-stroke-centered {
  width: 150px;
  display: flex;
  align-self: center;
  margin: auto;
}

hr {
  background: color(accent);
}

ion-slides {
  height: 100%;
}
