// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$monument-angular-primary: mat-palette($mat-indigo);
$monument-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$monument-angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$monument-angular-theme: mat-light-theme(
  (
    color: (
      primary: $monument-angular-primary,
      accent: $monument-angular-accent,
      warn: $monument-angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($monument-angular-theme);

/* You can add global styles to this file, and also import other style files */
$colors: (
  primary: #042f54,
  secondary: #fecf31,
  accent: #7d24ff,
  white: #fff,
  black: #000,
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}
$padding: 1em;
$radius: 15px;
$shadow: 3px 5px 15px rgba(0, 95, 255, 0.15);
#primary {
  color: #042f54;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Montserrat", sans-serif;
}
h1 {
  font-size: 64px;
  font-family: "Oswald", sans-serif;
  color: color(primary);
}
h1.hero-main {
  font-size: 72px;
  text-align: right;
  text-transform: capitalize;
}
h3 {
}
h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
}
h5 {
}
