@import "../../../../styles.scss";

.yellow-section {
  padding-top: 0px !important;
}

section {
  padding-top: .5em !important;
}

ion-card {
  margin-top: 25px;
  border-radius: 20px;
  // box-shadow: 5px 10px 20px rgb(0 0 0 / 62%);
  box-shadow: $deep-shadow;
}



