<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>
<section>
  <h3>
    Our family-style boarding program is one of the most distinctive elements of
    our school model, providing students with 24/7 supports throughout the
    school week.
  </h3>
  <h3>Family-style Boarding</h3>
  <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />

  <p>
    Students board at Monument Academy from Sunday evening through to Friday
    afternoon. They live in small, family-style single gender homes. There are
    two Student Life Advisors who live on campus for each home of 10 students. There is
    also a Director of Student Life who lives on campus and supervises the
    Student Life Advisors, and a Resident Assistant who is awake and on duty through the
    night.
  </p>
  <p>
    The student homes include bedrooms and bathrooms for the students, a
    separate suite for Student Life Advisors, and a common living and dining/kitchen
    area. Each home is decorated in a unique way and students have the
    opportunity to personalize their living space.
  </p>
  <h3>Schedule and Activities</h3>
  <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />

  <p>
    In the morning, students and their Student Life Advisors together prepare their
    morning meal and set goals before students head to class. In the afternoon,
    Student Life Advisors greet students after their on-campus afternoon enrichment
    activities. They prepare and eat dinner together family-style, before
    evening reading homework and activities. These activities might include
    community meetings, board games or a movie night. Student Life Advisors also teach
    students basic life skills, such as meal preparation, nutrition, how to take
    care of their home and do laundry.
  </p>
  <h3>Student Safety</h3>
  <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
  <p>
    Safety is always paramount. With our low ratio of students to Student Life Advisors
    we are able to provide a high degree of supervision. In addition, our
    Student Life Advisors are trained in Dialectical Behavior Therapy (DBT) and
    Therapeutic Crisis Intervention (TCI). There is a social worker on duty
    through the evening hours to provide extra support to students and staff.
  </p>
</section>
