<app-hero pageTitle="Programs"></app-hero>

<section>
  <h3>
    At Monument Academy, we believe in the capacity of every student to learn,
    grow, and experience positive life outcomes.
  </h3>
  <hr />
  <ion-grid class="grid">
    <ion-row class="ion-justify-content-evenly">
      <ion-col
        size-xs="12"
        size-sm="10"
        size-md="6"
        size-lg="4"
        *ngFor="let program of programs"
      >
        <app-animated class="animated" [animation]="'fade-up'">
          <ion-card [href]="program.url">
            <img
              loading="lazy"
              [src]="program.image || '../../../assets/yellow-background.png'"
            />
            <ion-card-header [ngStyle]="{}">
              <ion-card-title>
                <ion-text>{{ program.title }}</ion-text>
              </ion-card-title>
              <ion-card-subtitle>{{ program.description }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </app-animated>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
