<footer>
  <section>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/monument-logo.svg" style="width: 250px" />
        </ion-col>
        <ion-col>
          <h4>About Us</h4>
          <img src="assets/underline-stroke.svg" style="width: 120px" />
          <p>
            Monument Academy is a weekday boarding school serving students in
            Washington, DC. Our mission is to provide students, particularly
            those who have had or might have contact with the foster care
            system, with the requisite academic, social, emotional, and life
            skills to be successful in college, career, and community, and to
            create an outstanding school that attracts, supports, and retains
            exceptional and caring people.
          </p>
        </ion-col>
        <ion-col>
          <h4>Contact us</h4>
          <p>
            <ion-icon name="pin" color="secondary"></ion-icon> 500 19th Street
            NE, Washington, DC 20002
          </p>
          <p>
            <ion-icon
              name="phone-portrait-outline"
              color="secondary"
            ></ion-icon>
            (202) 545-3180
          </p>
          <p>Fax: (202) 478-2824</p>
          <h4>Quick Links</h4>
        </ion-col>
        <ion-col>
          <h4>Stay Connected</h4>
          <ion-toolbar color="primary" style="--min-height: 10px !important">
            <ion-buttons>
              <ion-button
                *ngFor="let social of socials"
                [fill]="social.fill"
                [href]="social.href"
                [target]="social.target"
              >
                <ion-icon [name]="social.icon"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
          <h4>Legal</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <div class="footer-bottom">
    Copyright {{ currentYear }} &copy; All Right Reserved - Monument Academy
  </div>
</footer>
