<footer *ngIf="!isAdminRoute">
  <section>
    <ion-grid>
      <ion-row>
        <ion-col size="3" size-md="3" size-sm="12">
          <img
            src="assets/monument-logo.svg"
            alt="logo"
            style="width: 250px"
            (click)="scrollToTop()"
          />
        </ion-col>
        <ion-col size="3" size-md="3" size-sm="12">
          <h4>About Us</h4>
          <img
            loading="lazy"
            src="assets/underline-stroke.svg"
            style="width: 120px"
          />
          <p>
            Our mission is to empower students, particularly those who have
            experienced significant adversity, including involvement or risk
            of involvement in child welfare and/or other social service
            systems with the requisite academic, social, emotional, and life
            skills to be successful in college, career, and community. In
            addition, we aim to create an outstanding school that attracts,
            supports, and retains exceptional and caring people.
          </p>
        </ion-col>
        <ion-col size="3" size-md="3" size-sm="12">
          <h4>Contact us</h4>
          <p>
            <ion-icon name="pin" color="secondary"></ion-icon> 500 19th Street
            NE, Washington, DC 20002
          </p>
          <p>
            <ion-icon
              name="phone-portrait-outline"
              color="secondary"
            ></ion-icon>
            (202) 545-3180
          </p>
          <p>Fax: (202) 478-2824</p>
          <h4>Quick Links</h4>
          <a routerLink="/programs" routerLinkActive="active-link">Programs</a>
          <a routerLink="/news-media" routerLinkActive="active-link"
            >News and Media</a
          >
          <a routerLink="/enrollment" routerLinkActive="active-link"
            >Enrollment</a
          >
          <a routerLink="/careers" routerLinkActive="active-link">Careers</a>
          <a routerLink="/contact-us" routerLinkActive="active-link"
            >Contact Us</a
          >
        </ion-col>
        <ion-col size="3" size-md="3" size-sm="12">
          <h4>Stay Connected</h4>
          <ion-toolbar color="primary" style="--min-height: 10px !important">
            <ion-buttons>
              <ion-button
                *ngFor="let social of socials"
                [fill]="social.fill"
                [href]="social.href"
                [target]="social.target"
              >
                <ion-icon [name]="social.icon"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
          <h4>Legal</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <div class="footer-bottom">
    Copyright {{ currentYear }} &copy; All Right Reserved - Monument Academy
    <a routerLink="/admin-login" style="width: 10%">
      <img
        loading="lazy"
        src="../../../assets/monument-logo.svg"
        style="max-width: 2em; display: flex"
      />
    </a>
  </div>
</footer>
