footer {
  background-color: #042f54;
  color: #fff;
  padding-top: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  text-align: left;
  font-weight: 200;
  line-height: 1.5em;
}
footer p,
h4 {
  color: #fff;
}

footer a:link {
  color: #fff !important;
  text-decoration: none;
  display: block;
}
footer a:visited {
  color: #aaa;
  text-decoration: none;
}
footer a:hover {
  color: #fecf31 !important;
}

.active-link {
  color: var(--ion-color-secondary) !important;
}

footer section {
  width: 90%;
  margin: auto;
}

.footer-bottom {
  background-color: #fecf31;
  padding: 1em;
  width: 100%;
  text-align: center;
  color: #042f54;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  display: flex;
}

img[alt="logo"]:hover {
  content: url("../../../assets/monument-logo_blue.svg");
  cursor: pointer;
}
