footer {
  background-color: #042f54;
  color: #fff;
  padding-top: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  text-align: left;
  font-weight: 200;
  line-height: 1.5em;
}
footer p,
h4 {
  color: #fff;
}

.btn-footer {
  //color: #4f9fa6;
  background-color: #fff;
  background: #fff;
  box-shadow: none;
}
footer a:link {
  color: #fff;
  text-decoration: none;
}
footer a:visited {
  color: #aaa;
  text-decoration: none;
}
footer a:hover {
  color: #f2f2f2;
}
footer section {
  width: 90%;
  margin: auto;
}
.logo-footer {
  max-width: 500px;
  padding: 10px;
}
.footer-bottom {
  background-color: #fecf31;
  padding: 1em;
  width: 100%;
  text-align: center;
  color: #042f54;
  font-weight: 500;
}

img[alt="logo"]:hover {
  content:url('../../../assets/monument-logo_blue.svg');
  cursor: pointer;
 }
