<header>
  <section [class]="bgImage ? 'section-header withBg' : 'section-header'" [ngStyle]="{background: 'url(' + bgImage +')', backgroundPosition: 'center',
    backgroundRepeat: 'no-repeat',
    backgroundSize: 'cover'}">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>{{ pageTitle }}</h1>
          <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
        </ion-col>
        <ion-col class="image-center">
          <img loading="lazy" [src]="heroImg" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</header>
