<header class="main-hero">
  <ion-grid>
    <ion-row>
      <ion-col
        ><img
          src="assets/images/hero-main.png"
          style="width: 90%; margin: auto; max-width: 500px"
        />
      </ion-col>
      <ion-col>
        <h1 class="hero-main">More than just a school, a home.</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</header>
<div class="yellow-section">
  <section>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Our Mission</h2>
          <p>
            To provide students, particularly those who have had or might have
            contact with the foster care system, with the requisite academic,
            social, emotional, and life skills to be successful in college,
            career, and community, and to create an outstanding school that
            attracts, supports, and retains exceptional and caring people.
          </p>
          <h2>We Change Lives</h2>
          <p>
            We believe all students have the capacity to succeed at high
            academic levels and experience positive life outcomes.
          </p>
        </ion-col>
        <ion-col>
          <img
            src="assets/column-white.svg"
            style="width: 100%; max-width: 400px; min-width: 100px"
          />
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</div>
<section>
  <h2>Family-Style Boarding</h2>
  <h3>
    Students board at Monument Academy from Sunday evening through to Friday
    afternoon. They live in small, family-style single gender homes, with two
    houseparents for each home of 10 students.
  </h3>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>
          Students receive a personal wake-up and eat a family-style breakfast
          every morning with their Houseparent and Student Life Family. Students
          share a personal daily goal with their family and head to advisory for
          community building.
        </p>
      </ion-col>
      <ion-col>
        <img src="assets/images/monument-2.png" />
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
