<header class="main-hero">
  <ion-grid>
    <ion-row>
      <ion-col
        ><img
          src="assets/images/hero-main.png"
          style="width: 90%; margin: auto; max-width: 500px"
        />
      </ion-col>
      <ion-col>
        <h1 class="hero-main">More than just a school, a home.</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</header>
<div class="yellow-section">
  <section>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Our Mission</h2>
          <p>
            To provide students, particularly those who have had or might have
            contact with the foster care system, with the requisite academic,
            social, emotional, and life skills to be successful in college,
            career, and community, and to create an outstanding school that
            attracts, supports, and retains exceptional and caring people.
          </p>
          <h2>We Change Lives</h2>
          <p>
            We believe all students have the capacity to succeed at high
            academic levels and experience positive life outcomes.
          </p>
        </ion-col>
        <ion-col>
          <img
            src="assets/column-white.svg"
            style="width: 100%; max-width: 400px; min-width: 100px"
          />
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</div>
<section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Academics</h2>
        <img src="assets/underline-stroke.svg" style="width: 120px" />
        <h3>
          Monument Academy’s academic programs are centered on thematic
          planning, project-based learning with principles of Webb’s Depth of
          Knowledge, and higher-order questioning as rooted in Bloom’s Taxonomy.
        </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Targeted Learning to Student Needs Each Monument Academy student
          engages in a targeted learning journey that is rooted in data driven
          instruction as evidenced by triangulation of MAP data, quarterly
          assessments, and PARCC data. We seek to develop self-directed learners
          by engaging students in academic goal setting during student led
          conferences, and structuring an environment that provides options for
          how students access content, practice new skills, and demonstrate
          mastery of the standards using technology and research.
        </p>
        <a routerLin="/academics">Learn more about Academics</a>
      </ion-col>
      <ion-col>
        <img src="assets/images/monument-1.png" alt="" />
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
<section>
  <h2>Family-Style Boarding</h2>
  <img src="assets/underline-stroke.svg" style="width: 120px" />
  <h3>
    Students board at Monument Academy from Sunday evening through to Friday
    afternoon. They live in small, family-style single gender homes, with two
    houseparents for each home of 10 students.
  </h3>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/images/monument-2.png" />
      </ion-col>
      <ion-col>
        <p>
          Students receive a personal wake-up and eat a family-style breakfast
          every morning with their Houseparent and Student Life Family. Students
          share a personal daily goal with their family and head to advisory for
          community building.
        </p>
        <a routerLin="/boarding-student-life-program"
          >Learn more about Family-Style Boarding</a
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Well-Being Program</h2>
        <img src="assets/underline-stroke.svg" style="width: 120px" />
        <h3>
          At Monument Academy, the nurturing of students’ social and emotional
          well-being is at the center of our work.
        </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Monument Academy is staffed with 3 school counselors, a well-being
          clinical manager, and a director. Related services (psychological,
          speech therapy, and occupational therapy) are provided by Premier
          Psychological Services, LLC; Katherine Marshall Wood, PLLC; and
          Psychological Assessment Solutions. Additionally, we partner with
          SMILE, Family Solutions, and Outreach Solutions, Incorporated to
          provide mental health services to our students and families. Our
          Well-Being staff provide evidenced-based behavioral, emotional, and
          therapeutic support for the students.
        </p>
        <a routerLin="/well-being-program"
          >Learn more about Well-Being Program</a
        >
      </ion-col>
      <ion-col>
        <img src="assets/images/monument-3.png" alt="" />
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section>
  <h2>Extended Day Learning</h2>
  <img src="assets/underline-stroke.svg" style="width: 120px" />
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/images/monument-4.png" />
      </ion-col>
      <ion-col>
        <p>
          In addition to learning in a traditional classroom, our students have
          opportunities to be exposed to the educational landscape of
          Washington, DC, and beyond. Through a series of field trips, service
          trips, and guest speakers, our students will connect their learning to
          their immediate community and the world.
        </p>
        <a routerLin="/boarding-student-life-program"
          >Learn more about Extended Day Learning</a
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<div class="yellow-section">
  <section>
    <h2 class="text-center">Monumental Markers</h2>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2 class="marker">95%</h2>
          <p class="marker">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </ion-col>
        <ion-col>
          <h2 class="marker">100%</h2>
          <p class="marker">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </ion-col>
        <ion-col>
          <h2 class="marker">300</h2>
          <p class="marker">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2 class="marker">1-10</h2>
          <p class="marker">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </ion-col>
        <ion-col>
          <h2 class="marker">100</h2>
          <p class="marker">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </ion-col>
        <ion-col>
          <h2 class="marker">45</h2>
          <p class="marker">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</div>

<section>
  <h2 class="text-center">Monumental Sports</h2>
  <img
    src="assets/underline-stroke.svg"
    style="width: 180px; display: flex; align-self: center; margin: auto"
  />
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>
          Monument Academy offers a variety of sports for students such as:
        </h3>
        <ul>
          <li>Basketball</li>
          <li>Football</li>
          <li>Soccer</li>
          <li>Kickball</li>
        </ul>
      </ion-col>
      <ion-col>
        <img src="assets/mascot.svg" alt="Monument Academy Mascot"
      /></ion-col>
    </ion-row>
  </ion-grid>
</section>
