@import "../../../styles.scss";

nav {
  position: fixed;
  z-index: 100;
  width: 100%;
}
#emergency-toolbar {
  --min-height: 20px !important;
}

#toolbar {
}

#topNav {
  box-shadow: $shadow;
}

// #logo {
//   height: 100%;
//   margin: 10px;
//   min-width: 100px;
//   max-width: 500px;
// }
// ion-button:hover{
// background-color: ;
// }
// [Juani]

.scroll-display {
  display: block;
  animation: slide-down 0.3s ease;
  -webkit-animation: slide-down 0.3s ease;
  -moz-animation: slide-down 0.3s ease;
}
.scroll-display-none {
  display: none;
  animation: slide-up 0.3s ease;
  -webkit-animation: slide-up 0.3s ease;
  -moz-animation: slide-up 0.3s ease;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-up {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
.first-icon {
  float: left;
  padding: 0px;
  margin: 0px;
}
.top-logo {
  width: 220px;
  margin: 5px;
  transition: all 0.5s ease;
}
.top-logo-smaller {
  width: 180px;
  margin: 5px;
  transition: all 0.5s ease;
}
// [/Juani]

#nav-item {
  --color: var(--ion-color-primary);
  text-transform: capitalize !important;
}

.nav-button:hover {
  height: 7vh;
  background-image: url("../../../assets/underline-stroke.svg");
  background-position: center 100%;
  background-size: 70px;
  background-repeat: no-repeat;
}

.nav-button-submenus:hover {
  height: 100%;
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light) !important;
}

.nav-button-submenus-hover {
  height: 100%;
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light) !important;
}

.nav-active-link {
  height: 7vh;
  background-image: url("../../../assets/underline-stroke-blue.svg");
  background-position: center 100%;
  background-size: 70px;
  background-repeat: no-repeat;
}

.filled-menu-item {
  --background: var(--ion-color-secondary);
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}

.filled-menu-item:hover {
  --background: none;
  background-image: url("../../../assets/brush1.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  font-weight: bold;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .top-logo {
    width: 180px !important;
  }
  @media screen and (max-width: 850px) {
    // ion-img {
    //   max-width: 400px;
    // }
    @media screen and (max-width: 550px) {
      .top-logo {
        width: 150px !important;
        margin: 5px !important;
        margin-top: 15px !important;
      }
      .top-logo-smaller {
        width: 140px !important;
        margin: 5px !important;
      }
      @media screen and (max-width: 350px) {
        .top-logo {
          width: 130px;
          margin: 5px !important;
        }
        .top-logo-smaller {
          width: 125px !important;
        }
      }
    }
  }
}

ion-item {
  --detail-icon-opacity: 1;
}

.list-background {
  background: var(--ion-color-secondary);
}

.desktop-list {
  background: var(--ion-color-secondary);
  position: absolute;
  z-index: 1000000;
  width: 100%;
  box-shadow: $deep-shadow;
}

.submenu-item {
  --background: var(--ion-color-secondary);
  margin: 0px 10px 0px 10px;
}

.menu-label {
  color: var(--ion-color-primary);
}

.submenu-label {
  text-transform: capitalize;
  text-indent: 10%;
  --color: var(--ion-color-primary);
}

.active-link {
  font-weight: bold;
  --color: var(--ion-color-tertiary) !important;
}

.active-sub-link {
  --background: var(--ion-color-tertiary);
  --color: var(--ion-color-light);
}

.menu-icon {
  font-size: 5vh;
}
