#emergency-toolbar {
--min-height:20px!important;
}

#toolbar {

}

#topNav {
box-shadow: 0px 5px 15px -7px var(--ion-color-primary);
}

#logo {
  height: 100%;
  margin: 10px;
  min-width: 100px;
}

#nav-item {
  --color: var(--ion-color-primary);
  text-transform: capitalize  !important;

}


.nav-button:hover {
  height: 100%;
  background-image: url("../../../assets/underline-stroke.svg");
  background-position: 1vh 5.5em;
  background-size: 70px;
  background-repeat: no-repeat;
}

.nav-button-submenus:hover {
  height: 100%;
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light) !important;
}



.nav-active-link {
  height: 100%;
    background-image: url("../../../assets/underline-stroke-blue.svg");
  background-position: 1vh 5.5em;
  background-size: 70px;
  background-repeat: no-repeat;
}

.filled-menu-item {
  --background: var(--ion-color-secondary);
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}



@media screen and (max-width: 850px) {
ion-img {
  max-width: 400px;
}
}

ion-item {
  --detail-icon-opacity: 1;
}

.submenu-item {
  --background: var(--ion-color-secondary);
  margin: 0px 10px 0px 10px;
}

.menu-label {
  color: var(--ion-color-primary);
}

.submenu-label {
  text-transform: capitalize;
  text-indent: 10%;
  color: var(--ion-color-primary);
}

.active-link {
  color: var(--ion-color-tertiary);
  font-weight: bold;
}

.active-sub-link {
  --background: var(--ion-color-tertiary);
  color: var(--ion-color-light);
}

.menu-icon {
  font-size: 5vh;
}



