<ion-toolbar color="danger" id="emergency-toolbar" *ngIf="showEmergency">
  <ion-note color="light"> {{emergencyMessage}} </ion-note>
  <ion-buttons slot="primary">
    <ion-button fill="clear" (click)="dismissEmergency()">
      <ion-icon name="close-outline"> </ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>


<ion-toolbar color="primary" id="toolbar">
  <ion-note color="light">{{ phoneNumber }}</ion-note>
  <ion-buttons slot="primary">
    <ion-button fill="clear">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon  name="logo-twitter"></ion-icon>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon  name="logo-instagram"></ion-icon>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon  name="logo-linkedin"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>


<ion-toolbar slot="start" id="topNav">

<div style="display: flex;">
  <a href="/">
    <ion-img id="logo" [src]="monumentLogo" href="/"></ion-img>
  </a>


  <ion-buttons slot="secondary" *ngIf="isDesktop"> 

      <ion-button 
      *ngFor="let nav of navItems" 
      (mouseenter)="navHover($event, nav)"
      (mouseleave)="navHover($event, nav)"
      id="nav-item"
      [round]="nav.isFilledButton"
      [ngClass]="{
        'filled-menu-item' : nav.isFilledButton,
        'nav-button' : !nav.subMenus,
        'nav-button-submenus' : nav.subMenus
      }"
      [routerLink]="nav.href"
      routerLinkActive="nav-active-link"
      routerLink="root"
      > {{ nav.name }} 
      <!-- <ion-img [src]="brushStroke"> </ion-img> -->
    </ion-button>

 
  </ion-buttons>



  <ion-buttons slot="secondary" *ngIf="!isDesktop" style="margin-left: auto"> 
    <ion-button fill="clear" (click)="toggleMenu()">
      <ion-icon class="menu-icon" [name]="menuIsOpen ? 'close-outline' : 'menu-outline' "></ion-icon>
    </ion-button>
  </ion-buttons>
</div>

  <ion-list *ngIf="menuIsOpen && !isDesktop">
  <div *ngFor="let nav of navItems" > 
    <div 
    (mouseenter)="subMenuToggle(nav)"
    (mouseleave)="subMenuToggle(nav)">

    <ion-item button [detail]="nav.subMenus ? true : false"
    [routerLink]="nav.href"
    routerLinkActive='active-link'
    routerLink="root"
    [ngClass]="nav.isFilledButton === true ? 'filled-menu-item' : '' "
>
    <ion-label class="menu-label" routerLinkActive='active-link'> {{ nav.name | uppercase }} </ion-label>
  </ion-item>
  
  <div *ngIf="nav.subMenuOpen">
    <ion-item *ngFor="let subMenu of nav.subMenus" button 
    [routerLink]="subMenu.href" 
    routerLinkActive='active-sub-link'
    class="submenu-item"> 
      <ion-label class="submenu-label" routerLinkActive='active-sub-link'> 
        {{subMenu.name}}
      </ion-label>
    </ion-item>
  </div>
</div>
</div>
</ion-list>
</ion-toolbar>






