ion-label {
  font-family: "Montserrat", sans-serif;
}

.box {
  border-color: var(--ion-color-primary);
  border-width: thin;
  border-style: solid;
  border-radius: 3px;
  margin: 8px;
  --highlight-color-focused: var(--ion-color-secondary);
}
