<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>
<section>
  <h3>
    Monument Academy’s mission is to provide vulnerable students – marked by
    trauma and family instability, particularly those who have had or might have
    contact with the foster care system – with the requisite academic, social,
    emotional, and life skills to be successful in college, career, and
    community, and to create an outstanding school that attracts, supports, and
    retains exceptional and caring staff.
  </h3>
  <h3>
    There are many ways you can support our work. Thank you so much for helping
    to make our impact possible.
  </h3>
</section>
<div class="yellow-section">
  <section>
    <!-- <ion-grid>
      <ion-row></ion-row>
  </ion-grid> -->
    <h2>Give a financial gift.</h2>
    <img
      loading="lazy"
      src="assets/underline-stroke-blue.svg"
      class="underline-stroke"
    />
    <p>
      Make a tax-deductible donation to Monument Academy using the donation form
      below or check out our ongoing <a>PerMAnent Homes Campaign!</a>
      <!-- Add link to the perManent -->
    </p>
    <iframe
      onload="window.parent.scrollTo(0,0)"
      class="donate-iframe"
      allowTransparency="true"
      frameborder="0"
      scrolling="no"
      style="width: 100%; border: none"
      src="https://secure.lglforms.com/form_engine/s/A_QbezP-NoCQmN3PzL7qWQ"
    >
      <a
        href="https://secure.lglforms.com/form_engine/s/A_QbezP-NoCQmN3PzL7qWQ"
      >
        Fill out my LGL Form!
      </a>
    </iframe>
  </section>
</div>

<div class="violet-section">
  <section>
    <h2>Other ways to give:</h2>
    <img
      loading="lazy"
      src="assets/underline-stroke.svg"
      class="underline-stroke"
    />
    <h3>Purchase through Amazon Smile.</h3>
    <img
      loading="lazy"
      src="assets/underline-stroke.svg"
      class="underline-stroke"
    />
    <p>
      Make purchases through Amazon Smile, and Monument Academy receives a
      donation.
    </p>
    <a
      href="https://smile.amazon.com/gp/chpf/homepage/ref=smi_chpf_redirect?ie=UTF8&ein=46-3662061&ref_=smi_ext_ch_46-3662061_cl"
      target="_blank"
      rel="nofollow"
    >
      <ion-button> VISIT AMAZON SMILE </ion-button>
    </a>
    <h3>Give an in-kind donation.</h3>
    <img
      loading="lazy"
      src="assets/underline-stroke.svg"
      class="underline-stroke"
    />
    <p>
      In-kind donations of school supplies, furniture, as well as student
      supplies such as bedding, backpacks, clothing and more are welcome!
    </p>
    <p>
      Email donations@monumentacademydc.org to coordinate a pick up / drop off
      of donations or for more information.
    </p>
    <h3>Give your time.</h3>
    <img
      loading="lazy"
      src="assets/underline-stroke.svg"
      class="underline-stroke"
    />
    <p>
      Interested in volunteering or mentoring? Learn more about opportunities to
      participate directly in our work.
    </p>
    <p>Email donations@monumentacademydc.org for more information.</p>
  </section>
</div>
