<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>

<section>
  <h3> Dr. Jeffrey F. Grant</h3>
  <p>
    Dr. Jeffrey F. Grant, CEO of Monument Academy Public Charter School, is a dedicated,
    passionate leader who has labored in the field of education for 30 years. Dr. Grant
    assumed the position in 2019 and has met the challenge of increasing academic growth
    in the core subjects. Before this tenure, he served as the National Head of Schools for
    the Friendship Education Foundation and successfully opened and improved campuses
    in other states. From 2005 through 2013, Dr. Grant successfully led turnaround efforts
    as the principal in three District of Columbia Public Schools and also worked as the
    DCPS Director of Families and Parents. As the principal of Friendship Public Charter
    School’s Blow-Pierce Academy from 2013 through 2018, Dr. Grant raised academic
    achievement and attained Tier 1 status for three consecutive years under the District of
    Columbia Public Charter School Board Performance Management Framework.
  </p>
  <p>
    Dr. Grant attended The George Washington University where he earned a Doctorate in
    Education Leadership and Policy Studies and a Masters of Arts in Educational
    Technology Leadership. Dr. Grant had previously completed his undergraduate studies
    at the University of the District of Columbia and Howard University with degrees in
    Political Science and Philosophy.
  </p>
  <p>
    While employed as a group leader at the Harvard University Graduate School of
    Education Principals’ Center from 2008 through 2016 he led principals from the world
    over as they developed their schools’ or school systems’ strategic plans. Dr. Grant has
    presented at conferences for the federal government, non-profit organizations,
    academic institutions, and Fortune 500 companies.
  </p>
  <p>
    Dr. Grant’s education philosophy incorporates strong parental engagement, character
    education, experiential education, and quality partnerships as means of raising
    academic achievement resulting in him receiving numerous awards and
    commendations for his practices. His community outreach efforts include his yearly Dr.
    G and Friends Toy Drive which delivers toys, diapers and wipes to St. Ann’s Center for
    Children, Youth and Families. Native Washingtonians, Dr. Grant and his wife Sharnika
    have four children.
  </p>
  <hr />
  <div [innerHtml]="letter"> </div>

</section>
