<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>

<section>
  <h3> Dr. Jeffrey F. Grant</h3>
  <p>
    Dr. Jeffrey Grant is a native Washingtonian who has led schools for over 15 years. In addition, he has more than a decade of experience teaching in district schools. In 2005, he was honored as Teacher of the Year by Junior Achievement of the National Capital Area. He holds a doctorate of education in leadership and policy studies and a master’s in education technology leadership from George Washington University. He earned degrees in political science and philosphy from the University of the District of Columbia. Most recently, he served as National Head of Schools at Friendship Education Foundation. Dr. Grant and his wife Sharnika reside in Maryland with their children. He is a proud member of Kappa Alpha Psi Fraternity, inc.
  </p>
<hr/>
<div [innerHtml]="letter"> </div>

</section>
