<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>

<section id="board-section">
  <p>
    Monument Academy benefits from the leadership of a seasoned Board of
    Directors with extensive expertise across a range of industries. Read on to
    learn more, or visit Monument Academy’s
    <a routerLink="/partnerships">Partnership page</a> to learn about key
    partners and supporters of Monument Academy.
  </p>
  <p>
    <b>Board Members</b>: Click on
    <a href="https://app.powerbi.com/reportEmbed?reportId=6052bc2a-e1db-465c-b522-20e03e144979&autoAuth=true&ctid=10ced1c6-e0a7-47ad-97c6-d9a9256ad96f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLWItcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D"
      target="_blank" rel="nofollow">
      this link
    </a>
    to view the Monument Board Data Dashboard. You will need your Monument
    Microsoft Account Credentials in order to view the dashboard. (Username:
    first.last@monumentacademydc.onmicrosoft.com). Please contact Jeff McHugh if
    you need a password reset.
  </p>
  <div *ngFor="let b of board">
    <div [attr.id]="b.scrollId">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <img loading="lazy" [src]="b.bioPic || mainLogo" [alt]="b.name" style="width: 200px" />
          </ion-col>
          <ion-col size="9">
            <h4>
              <b>{{ b?.name }}</b>
            </h4>
            <h5>{{ b?.title }}</h5>
            <p [innerHTML]="b.bio"></p>

            <mat-expansion-panel *ngIf="b.excites">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h5>What Excites You About Monument Academy</h5>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                {{ b?.excites }}
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="b.favTeacher">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h5>Favorite Teacher</h5>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                {{ b?.favTeacher }}
              </p>
            </mat-expansion-panel>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <hr />
  </div>
</section>
