<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>

<section id="board-section">
  <p>
    Monument Academy benefits from the leadership of a seasoned Board of
    Directors with extensive expertise across a range of industries. Read on to
    learn more, or visit Monument Academy’s
    <a routerLink="/partnerships">Partnership page</a> to learn about key
    partners and supporters of Monument Academy.
  </p>
  <p>
    <b>Board Members</b>: Click on
    <a href="https://app.powerbi.com/reportEmbed?reportId=6052bc2a-e1db-465c-b522-20e03e144979&autoAuth=true&ctid=10ced1c6-e0a7-47ad-97c6-d9a9256ad96f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLWItcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D"
      target="_blank" rel="nofollow">
      this link
    </a>
    to view the Monument Board Data Dashboard. You will need your Monument
    Microsoft Account Credentials in order to view the dashboard. (Username:
    first.last@monumentacademydc.onmicrosoft.com). Please contact Jeff McHugh if
    you need a password reset.
  </p>
  <div *ngFor="let b of board">
    <div [attr.id]="b.scrollId">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <img loading="lazy" [src]="b.bioPic || mainLogo" [alt]="b.name" style="width: 200px" />
          </ion-col>
          <ion-col size="9">
            <h4>
              <b>{{ b?.name }}</b>
            </h4>
            <h5>{{ b?.title }}</h5>
            <p [innerHTML]="b.bio"></p>

            <mat-expansion-panel *ngIf="b.excites">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h5>What Excites You About Monument Academy</h5>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                {{ b?.excites }}
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="b.favTeacher">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h5>Favorite Teacher</h5>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                {{ b?.favTeacher }}
              </p>
            </mat-expansion-panel>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <hr />
  </div>
</section>

<section class="violet-section">
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="10">
        <ion-text>
          <h3>School Year 2023-2024 Monument Academy Board Meeting Dates:</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size-xs="10">
      <ion-button
              color="light"
              href="https://www.dcpcsb.org/school/monument-academy-pcs"
              target="_blank"
              rel="nofollow"
              fill="outline"
              class="dates-expansion"
      >
        Thursday, January 18TH, 2024 at 6 PM (BOARD RETREAT)
        <br/><br/>
        Wednesday, September 13th, 2023 at 6 PM
        <br/><br/>
        Wednesday, December 11th, 2023 at 6 PM
        <br/><br/>
        Wednesday, March 13th, 2023 at 6 PM
        <br/><br/>
        Wednesday, June 12th, 2023 at 6 PM
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size-xs="10">
      <p>
        All regularly scheduled Monument Academy Board meetings will be held
        monthly via Zoom from 6:00 PM to 8:00 PM unless otherwise noted. Dates
        are listed on the school’s website. The Board may enter into Executive
        Session to discuss confidential or sensitive matters, and these sessions
        will be closed to the public. Board meetings may be rescheduled,
        postponed, canceled, or relocated at the discretion of the chairperson.
        As necessary, the board may conduct meetings by phone. Members of the
        public wishing to participate in any meetings may do so by registering
        at the meeting link listed next to the meeting date. If you have any
        questions, issues with registration, or require any accommodations for
        the virtual meeting, please reach out to
        <a href="mailto:boardmeetings@mapcsdc.org">boardmeetings@mapcsdc.org.</a>
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size-xs="10">
      <ion-button
              color="light"
              href="https://www.dcpcsb.org/school/monument-academy-pcs"
              target="_blank"
              rel="nofollow"
              fill="outline"
              class="dates-text"
      >
        Monument Academy’s DC PCSB Profile can be found here
      </ion-button>
    </ion-col>
  </ion-row>
</section>
<section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-board-meetings meetingName="Meeting Details" [boardMeetings]="boardMeetings"></app-board-meetings>
        <app-board-meetings meetingName="Archived meetings" [boardMeetings]="archivedMeetings"></app-board-meetings>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
