<app-hero pageTitle="Family Resources"></app-hero>
<section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-animated class="animated" [animation]="'fade-right'">
          <h3>
            Monument Academy believes in the importance of family engagement and
            connection, because even though your child boards with us during the
            week, you are their primary caretaker. Guardians and mentors
            involved in our students’ lives are essential to our team, and we
            are committed to including you at the table, whether that table is
            at the school, home or in the community.
          </h3>
        </app-animated>
      </ion-col>
    </ion-row>
    <ion-row>
      <app-animated class="animated" [animation]="'fade-right'">
        <ion-col>
          <ion-text>
            <h6 class="mat-h2">
              Our model is guided by the work and best practices of the
              Flamboyan Foundation. We know that caretakers want to stay in
              touch with students and their progress, which is why we look
              forward to connecting with you in some of the following ways:
            </h6>
          </ion-text>
        </ion-col>
      </app-animated>
    </ion-row>
    <ion-row>
      <ion-col>
        <ul>
          <app-animated
            [animation]="'fade-right'"
            *ngFor="let item of items"
            class="animated"
          >
            <ion-item>
              <ion-label>{{ item }}</ion-label>
            </ion-item>
          </app-animated>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section class="violet-section">
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-animated class="animated" [animation]="'fade-right'">
          <h2>Resource Links</h2>
        </app-animated>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        sizeXl="3"
        sizeLg="4"
        sizeMd="6"
        sizeSm="6"
        sizeXs="12"
        *ngFor="let rs of resources"
      >
        <app-animated
          class="animated"
          [animation]="'fade-up'"
          *ngIf="rs?.display?.value"
        >
          <ion-card [href]="rs?.file?.value?.url || rs.url.value" target="_blank">
            <img
              loading="lazy"
              [src]="
                rs.image.value
                  ? uploadUrl + rs?.image?.value?.url
                  : '../../../assets/yellow-background.png'
              "
            />
            <ion-card-header [ngStyle]="{}">
              <ion-card-title class="card-text">
                <ion-text>{{ rs.title.value }}</ion-text>
              </ion-card-title>
              <ion-card-subtitle class="card-text">{{
                rs.subtitle.value || rs.description.value
              }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-button style="float:inline-end;" *ngIf="rs?.file?.value?.url && rs.url.value" [href]="rs?.url?.value" target="_blank">
                Learn More
              </ion-button>
            </ion-card-content>
          </ion-card>
        </app-animated>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
