<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>
<section>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h3>
          The Knowledge Center is where we seek to share our design and learning
          journey with other practitioners, school designers, and experts from the
          field. Search and explore artifacts organized around our six model elements
          and six key enablers shown below.
        </h3>
        <h6>
          Take a look at a video of the founder and former CEO, Emily
          Bloomfield!
        </h6>

      </ion-col>

    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <div>
          <div style="padding: 56.25% 0 0 0; position: relative">
            <iframe src="https://player.vimeo.com/video/225397741" style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 25px;
              margin-top: 16px;
            " frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <script src="https://player.vimeo.com/api/player.js"></script>

          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
<section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Our Model</h2>
        <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let m of model" size-xs="12" size-md="6" size-lg="4" size-xl="3">
        <ion-card class="hover-card" [href]="m.routingUrl" [attr.alt]="m.routingTitle">
          <ion-card-header>
            <ion-card-title>
              {{m.title}}
            </ion-card-title>
            <ion-card-subtitle>
              {{m.description}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-details>
            {{m.mainContent}}
          </ion-card-details>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
<section>
  <ion-grid>
    <ion-row>
      <h2>Key Enablers</h2>
      <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let k of keyEnablers" size-xs="12" size-md="6" size-lg="4" size-xl="3">
        <ion-card class="hover-card">
          <ion-card-header>
            <ion-card-title>
              {{k.title}}
            </ion-card-title>
            <ion-card-subtitle>
              {{k.description}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-details>
            {{k.mainContent}}
          </ion-card-details>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<div class="violet-section">
  <section>
    <h2>Our design Journey</h2>
    <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
    <p>Join us behind the scenes and explore our design journey.</p>
    <h3>[Coming Soon]</h3>
  </section>
</div>
