<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>
<section>
  <h3>
    Public Notification Regarding Monument Academy’s participation in the
    National School Lunch Program (NSLP)
  </h3>
  <p>
    Monument Academy PCS participates in the National School Lunch Program. Our
    students receive free breakfast, lunch, after-school snack, and supper.
  </p>
  <p>Here are this month's menus:</p>
</section>
<section>
  <ion-title>{{ hardcoded ? menuData.name : menuData?.name?.value }}</ion-title>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of items" size-xs="12">
        <ion-card>
          <ion-card-header (click)="collapseMenu(item)">
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button>
                  <ion-icon
                    [name]="
                      item.collapsed
                        ? 'caret-forward-outline'
                        : 'caret-down-outline'
                    "
                    slot="start"
                  ></ion-icon>
                </ion-button>
                <ion-button>
                  <ion-icon
                    [name]="item?.icon + '-outline'"
                    slot="start"
                  ></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-card-title>
                {{ item?.name | startCase }}
              </ion-card-title>
              <ion-buttons slot="end">
                <ion-button
                  [href]="hardcoded ? menuData[item.name].url : menuData?.[item.name]?.value?.[0]?.url"
                  target="_blank"
                >
                  <ion-icon name="download-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content *ngIf="!item.collapsed">
            <div style="display: flex; flex-direction: column">
              <div>
                <pdf-viewer
                  [src]="hardcoded ? menuData[item.name].url : menuData?.[item.name]?.value?.[0]?.url"
                  [external-link-target]="'blank'"
                  [autoresize]="false"
                  [stick-to-page]="true"
                  [original-size]="false"
                >
                </pdf-viewer>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
<div class="yellow-section">
  <section>
    <h4>USDA Nondiscrimination Statement:</h4>
    <p>
      In accordance with Federal civil rights law and U.S. Department of
      Agriculture (USDA) civil rights regulations and policies, the USDA, its
      Agencies, offices, and employees, and institutions participating in or
      administering USDA programs are prohibited from discriminating based on
      race, color, national origin, sex, religious creed, disability, age,
      political beliefs, or reprisal or retaliation for prior civil rights
      activity in any program or activity conducted or funded by USDA.
    </p>
    <p>
      Persons with disabilities who require alternative means of communication
      for program information (e.g. Braille, large print, audiotape, American
      Sign Language, etc.), should contact the Agency (State or local) where
      they applied for benefits. Individuals who are deaf, hard of hearing or
      have speech disabilities may contact USDA through the Federal Relay
      Service at (800) 877-8339. Additionally, program information may be made
      available in languages other than English.
    </p>
    <p>
      To file a program complaint of discrimination, complete the
      <a
        href="https://www.ocio.usda.gov/sites/default/files/docs/2012/Complain_combined_6_8_12.pdf"
        target="_blank"
        >USDA Program Discrimination Complaint Form</a
      >, (AD-3027) found online at:
      <a href="https://www.usda.gov/oascr" target="_blank"
        >How to File a Complaint</a
      >, and at any USDA office, or write a letter addressed to USDA and provide
      in the letter all of the information requested in the form. To request a
      copy of the complaint form, call (866) 632-9992. Submit your completed
      form or letter to USDA by:
    </p>

    <ol>
      <li>
        <div>
          <p class="no-margin">mail: U.S. Department of Agriculture</p>
          <p class="no-margin">
            Office of the Assistant Secretary for Civil Rights
          </p>
          <p class="no-margin">1400 Independence Avenue, SW</p>
          <p class="no-margin">Washington, D.C. 20250-9410;</p>
        </div>
      </li>
      <li><p>fax: (202) 690-7442; or</p></li>
      <li>
        <p>
          email:
          <a href="mailto:program.intake@usda.gov">program.intake@usda.gov</a>.
        </p>
      </li>
    </ol>
    <p>This institution is an equal opportunity provider.</p>

    <h4>District of Columbia Human Rights Act</h4>
    <p>
      Also, the District of Columbia Human Rights Act, approved December 13,
      1977 (DC law 2-38; DC official code §2-1402.11(2006), as amended) states
      the following:
    </p>
    <p>
      It shall be an unlawful discriminatory practice to do any of the following
      acts, wholly or partially for a discriminatory reason based upon the
      actual or perceived: race, color, religion, national origin, sex, age,
      marital status, personal appearance, sexual orientation, gender identity
      or expression, family responsibilities, genetic information, disability,
      matriculation, or political affiliation of any individual. To file a
      complaint alleging discrimination on one of these bases, please contact
      the District of Columbia’s Office of Human Rights at (202) 727-4559 or
      ohr@dc.gov.
    </p>
    <p>
      The designated Title IX Coordinator at Monument Academy is Greg Gaskins,
      Chief of Operations. Contact Greg at:
      <a href="mailto:greg.gaskins@mapcsdc.org">greg.gaskins@mapcsdc.org</a> or
      (202) 545-3180, for grievances or clarification on Title IX policies and
      grievance procedures.
    </p>
  </section>
</div>
