<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>
<section>
  <h3>
    Public Notification Regarding Monument Academy’s participation in the
    National School Lunch Program (NSLP)
  </h3>
  <p>
    Monument Academy PCS participates in the National School Lunch Program. Our
    students receive free breakfast, lunch, after-school snack, and supper.
  </p>
  <p>Here are this month's menus:</p>
</section>
<section>
  <ion-title>{{ hardcoded ? menuData.name : menuData?.name?.value }}</ion-title>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of items" size-xs="12">
        <ion-card>
          <ion-card-header (click)="collapseMenu(item)">
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button>
                  <ion-icon
                    [name]="
                      item.collapsed
                        ? 'caret-forward-outline'
                        : 'caret-down-outline'
                    "
                    slot="start"
                  ></ion-icon>
                </ion-button>
                <ion-button>
                  <ion-icon
                    [name]="item?.icon + '-outline'"
                    slot="start"
                  ></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-card-title>
                {{ item?.name | startCase }}
              </ion-card-title>
              <ion-buttons slot="end">
                <ion-button
                  [href]="hardcoded ? menuData[item.name].url : menuData?.[item.name]?.value?.[0]?.url"
                  target="_blank"
                >
                  <ion-icon name="download-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content *ngIf="!item.collapsed">
            <div style="display: flex; flex-direction: column">
              <div>
                <pdf-viewer
                  [src]="hardcoded ? menuData[item.name].url : menuData?.[item.name]?.value?.[0]?.url"
                  [external-link-target]="'blank'"
                  [autoresize]="false"
                  [stick-to-page]="true"
                  [original-size]="false"
                  (on-progress)="onProgress($event)"
                >
                </pdf-viewer>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
<div class="yellow-section">
  <section>
    <h4>USDA Nondiscrimination Statement:</h4>
    <p>
      In accordance with federal civil rights law and U.S. Department of Agriculture (USDA) civil rights
      regulations and policies, this institution is prohibited from discriminating on the basis of race, color,
      national origin, sex (including gender identity and sexual orientation), disability, age, or reprisal or
      retaliation for prior civil rights activity.
    </p>
    <p>
      Program information may be made available in languages other than English. Persons with disabilities
      who require alternative means of communication to obtain program information (e.g., Braille, large
      print, audiotape, American Sign Language), should contact the responsible State or local Agency that
      administers the program or USDA’s TARGET Center at (202) 720-2600 (voice and TTY) or contact
      USDA through the Federal Relay Service at (800) 877-8339.
    </p>
    <p>
      To file a program discrimination complaint, a Complainant should complete a Form AD-3027, USDA
      Program Discrimination Complaint Form which can be obtained online at:
      <a
        href="https://www.usda.gov/sites/default/files/documents/USDA-OASCR%20P-Complaint-Form-0508-
0002-508-11-28-17Fax2Mail.pdf"
        target="_blank"
      >https://www.usda.gov/sites/default/files/documents/USDA-OASCR%20P-Complaint-Form-0508-
        0002-508-11-28-17Fax2Mail.pdf</a> from any USDA office, by calling (866) 632-9992, or by writing a
      letter addressed to USDA. The letter must contain the complainant’s name, address, telephone
      number, and a written description of the alleged discriminatory action in sufficient detail to inform the
      Assistant Secretary for Civil Rights (ASCR) about the nature and date of an alleged civil rights
      violation. The completed AD-3027 form or letter must be submitted to USDA by:
    </p>

    <ol>
      <li>
        <div>
          <p class="no-margin">mail: U.S. Department of Agriculture</p>
          <p class="no-margin">
            Office of the Assistant Secretary for Civil Rights
          </p>
          <p class="no-margin">1400 Independence Avenue, SW</p>
          <p class="no-margin">Washington, D.C. 20250-9410;</p>
        </div>
      </li>
      <li><p>fax: (833) 256-1665 or (202) 690-7442; or</p></li>
      <li>
        <p>
          email:
          <a href="mailto:program.intake@usda.gov">program.intake@usda.gov</a>.
        </p>
      </li>
    </ol>
    <p>This institution is an equal opportunity provider.</p>

    <h4>District of Columbia Human Rights Act</h4>
    <p>
      Also, the District of Columbia Human Rights Act, approved December 13,
      1977 (DC law 2-38; DC official code §2-1402.11(2006), as amended) states
      the following:
    </p>
    <p>
      It shall be an unlawful discriminatory practice to do any of the following
      acts, wholly or partially for a discriminatory reason based upon the
      actual or perceived: race, color, religion, national origin, sex, age,
      marital status, personal appearance, sexual orientation, gender identity
      or expression, family responsibilities, genetic information, disability,
      matriculation, or political affiliation of any individual. To file a
      complaint alleging discrimination on one of these bases, please contact
      the District of Columbia’s Office of Human Rights at (202) 727-4559 or
      <a href="mailto:ohr@dc.gov">ohr@dc.gov</a>.
    </p>
    <p>
      The designated Title IX Coordinator at Monument Academy is Greg Gaskins,
      Chief of Operations. Contact Greg at:
      <a href="mailto:greg.gaskins@mapcsdc.org">greg.gaskins@mapcsdc.org</a> or
      (202) 545-3180, for grievances or clarification on Title IX policies and
      grievance procedures.
    </p>
  </section>
</div>
