<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>
<section>
  <h3>
    Life skills are essential to students’ long-term success. We embed explicit
    life skills development throughout our day to ensure ongoing opportunities
    for learning, practice, and application.
  </h3>
  <p>
    Independent living skills are critical for student success, particularly
    once they graduate from high school and continue on to college, a career and
    life in the community. We know from research that these skills can’t just be
    taught in the classroom. They must be developed from years of modeling and
    practice, as they require the same type of instruction and ample practice
    time as learning any other academic or social emotional skills.
  </p>
  <p>
    How do we teach life skills at Monument? In addition to our academic
    program, our weekday boarding program provides us with continuous
    opportunities for teaching important life skills, such as personal hygiene,
    cooking, routine home maintenance and repairs, financial literacy, time
    management, and accessing community resources.
    <a routerLink="/boarding-student-life-program">Learn more.</a>
  </p>
</section>
<div class="violet-section">
  <section>
    <h3>
      <i>
        "Independent living skills don't form overnight.They develop after years
        of modeling, practice, and feedback- just like academic or social
        emotional skills."
      </i>
    </h3>
  </section>
</div>
