<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>
<section>
  <h2>Moments at Monument</h2>
  <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
</section>
<app-slider></app-slider>
<section>
  <ion-grid>
    <ion-row *ngFor="let a of activity" style="align-items: center">
      <ion-col size="3">
        <img
          loading="lazy"
          [src]="a.src"
          [alt]="a.title"
          style="width: 300px"
        />
      </ion-col>
      <ion-col size="9">
        <h2>{{ a.title }}</h2>
        <img
          loading="lazy"
          src="assets/underline-stroke.svg"
          class="underline-stroke"
        />
        <p>{{ a.content }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
