<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>
<section>
  <h3>
    At Monument Academy, the nurturing of students’ social and emotional
    well-being is at the center of our work.
  </h3>
  <h3>Well-Being Department</h3>
  <img loading="lazy" loading="lazy" loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
  <p>
 Monument Academy is staffed with 3 school counselors, a lead counselor, and a director.
 Related services (psychological, speech therapy, and occupational therapy) are
 provided by Premier Psychological Services, LLC; and Psychological Assessment Solutions.
 Additionally, we partner with SMILE, Family Solutions, and Outreach Solutions,
 Incorporated to provide mental health services to our students and families.
 Our Well-Being staff provide evidenced-based behavioral, emotional, and therapeutic support for the students.
  </p>
  <h3>Social Emotional Learning (SEL) Framework</h3>
  <img loading="lazy" loading="lazy" loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
  <p>
    In order for our students to thrive in the classroom, we train our staff to
    teach them behavioral regulation skills based on the evidence-based
    framework of DBT (Dialectical Behavior Therapy). Every student at Monument
    receives two hours of instruction each week that focus on the following
    principles:
  </p>
  <ul>
    <li><p>Mindfulness</p></li>
    <li><p>Emotional Regulation</p></li>
    <li><p>Distress tolerance</p></li>
    <li><p>Interpersonal effectiveness</p></li>
  </ul>
  <p>
    Learn more about Dialectical Behavior Therapy at Monument Academy
    <a routerLink="/">here</a>.
    <!-- Add link! https://monumentacademy.org/dbt/ -->
  </p>
  <h3>Student Wellness Lounge</h3>
  <img loading="lazy" loading="lazy" loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
  <p>
    Our Wellness Lounge is available to all students during the day as an opt-in
    resource to support students in implementing their emotional regulation
    skills. The lounge has 3 purposes for students:
  </p>
  <ul>
    <li><p>Emotional regulation support</p></li>
  </ul>
  In the Lounge, the students are guided by counselors to utilize their DBT
  skills and coping strategies in order to quickly and effectively return back
  to class.
  <ul>
    <li><p>Lunch/recess alternative space</p></li>
  </ul>
  For some of our students, the lunch and recess environments can have
  overwhelming sensory stimulation, while others find it difficult to navigate
  the unstructured interpersonal demands of the cafeteria. The Wellness Lounge
  offers a calm, quiet space where students can choose down-regulation
  activities such as art, reading, music, or collaborative games, with a limited
  number of peers.
  <ul>
    <li><p>Return plan</p></li>
  </ul>
  <p>
    In the event that a student has an extended leave from Monument due to a
    mental health related hospitalization, or is returning from detention at a
    correctional facility, they spend the day recalibrating to the demands of a
    school day with the counselors in the Lounge. During this time, they can
    develop and process a successful re-entry plan to join their peers.
  </p>
  <h3>Restorative Justice</h3>
  <img loading="lazy" loading="lazy" loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
  <p>
    Monument partners with Restorative DC to establish inclusionary discipline
    policies to keep youth in school and out of prison, maintain safe learning
    environments, and provide opportunities for our students to be active and
    accountable members of their community. We are working with Restorative DC
    to create a stronger school community, participate in restorative
    conversations around interpersonal conflict, and empower students to hold
    their peers accountable when a member of the community is harmed.
  </p>
  <h3>Trauma-Informed Staff</h3>
  <img loading="lazy" loading="lazy" loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
  <p>
    Monument staff are provided with several weeks throughout the year of
    psychoeducational training in trauma-informed and best-practice approaches
    with students. Specifically, our staff are provided professional development
    regarding trauma-informed classroom approaches, Adverse Childhood
    Experiences (ACE’s) study, and continuous psychoeducation highlighting the
    impacts of traumatic exposure on student behavior.
  </p>
</section>
