<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>

<section>
  <div style="max-width: 1000px">
    <h3>
          Monument Academy's academic programs are centered on thematic planning,
          supported by exposure through relevant field experiences, project-based
          learning enriched in principles of Webb's Depth of Knowledge, higher-order
          questioning as rooted in Bloom's Taxonomy, and robust writing
          across curriculum with the use of the Collins Writing Program to target
          individual student needs.
    </h3>
    <h3>Targeted Learning to Student Needs</h3>
    <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />

    <p>
          Each Monument Academy student engages in a targeted learning journey
          that is rooted in data driven instruction as evidenced by triangulation
          of NWEA Measures of Academic (MAP) data (implemented 3x a year),
          quarterly assessments, and teacher-made assessments. In addition, qualitative
          data is captured through monthly learning walks, weekly collaborative planning sessions,
          and teacher feedback We seek to develop self-directed learners by engaging students in
          academic goal-setting during student led conferences, and structuring an environment
          that provides options for how students access content, practice new skills,
          and demonstrate mastery of the standards using technology and research.
    </p>
    <h3>Enhanced Academics</h3>
    <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />

    <p>
      The Monument team is committed to the belief that having a strong academic
      plan in place allows all students, regardless of race, disability, and
      previous history, to develop the skills necessary to become lifelong
      learners. Dr. Jeffrey Grant has built his career locally and nationally on
      a core commitment to strengthening and scaling academic school success.
      Collaboratively, Monument Academy’s Principal, Dr. Ashley DeCruise, ensures the strategies and practices are implemented with fidelity across the curriculum.
      In addition to standard quantitative measurements of academic success, this
      includes:
    </p>
    <p></p>
    <ul>
      <li><p>Small class sizes that do not exceed 15 students</p></li>
      <li><p>Flexible Schedule</p></li>
      <li><p>Utilization of Tier 2 and 3 vocabulary</p></li>
      <li><p>Differentiating instruction</p></li>
      <li><p>Scaffolding to ensure comprehension</p></li>
      <li>
        <p>
          Higher-order questioning (question stems grounded in Bloom’s Taxonomy)
        </p>
      </li>
      <li><p>Complex text accessed in all content areas</p></li>
      <li>
        <p>
          Effectively using fresh, relevant data for planning instruction and
          student grouping
        </p>
      </li>
      <li><p>Project based learning</p></li>
    </ul>

    <h3> Trimester Schedule- New for SY 21-22 </h3>
    <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
    <p>
      For SY 21-22, MAPCS will adopt a trimester calendar to address deficits in real time, The school year will encompass 187 days of academic instruction with an additional 10 days of student engagement to maximize all student instruction).
    </p>

    <h3>Extended Learning</h3>
    <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />

    <p>
      In addition to learning in a traditional classroom, our students have
      opportunities to be exposed to the educational landscape of Washington,
      DC, and beyond. Through a series of field trips, service trips, and guest
      speakers, our students will connect their learning to their immediate
      community and the world.
    </p>
    <h3>Flexible Schedule</h3>
    <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />

    <p>
      Our middle school schedule was developed with an instructional block
      broken down into 75 minutes.
    </p>
    <ul>
      <li>
        <p>
          Students have primary blocks of instructional time with a maximum of a
          1:8 adult to student ratio.
        </p>
      </li>
      <li>
        <p>
          Core content classes including Reading, Math, Social Studies, and
          Science.
        </p>
      </li>
      <li>
        <p>
          Daily 45 minute sessions of Student Led Conferences (SLCs) and
          Dialectical Behavior Therapy (DBT).
        </p>
      </li>
    </ul>
    <p>
      Our goal is to create an environment where each student can work at
      his/her individual pace and with the appropriate materials and necessary
      accommodations. Students have a social lunch, recess, and opportunities
      for arts and other creative activities including Performing Arts, Music,
      Spanish, and Health/PE. The team recognizes that many student behavioral
      challenges and poor outcomes for students with disabilities often result
      from deficits in implementation of effective, engaging Tier 1 instruction.
      Therefore, we focus on academic improvements to increase student
      engagement and academic growth, strengthening school culture, and
      decreasing behaviors that interrupt academic and life success.
    </p>
  </div>
</section>

<div class="violet-section">
  <section>
    <h3>
      <i>
        "At Monument Academy, we place significant emphasis on the well-being and life skills curriculum to ensure that students are not only prepared academically, but also to live independently and successfully when the graduate from high school and continue on to post-secondary and careers."
      </i>
    </h3>
  </section>
</div>
