<header class="main-hero">
  <ion-grid
  ><!-- class="hero-img" -->
    <ion-row class="wrap-reverse">
      <!-- <ion-col data-aos="fade-up">
        <img
          loading="lazy"
          src="assets/images/hero-main.png"
          style="width: 100%; margin: auto; max-width: 500px"
        />
      </ion-col> -->

      <ion-col
        data-aos="fade-right"
        data-aos-duration="600"
        class="hero-responsive-col"
      >
        <img
          loading="lazy"
          src="assets/images/hero-main-crop.png"
          style="width: 100%; margin: auto"
        />
      </ion-col>

      <ion-col class="hero-responsive-col">
        <h1 class="hero-main">
          More than just a school, a <span class="emphasize">home</span>.
        </h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</header>
<div class="image-section">
  <section>
    <ion-grid>
      <ion-row>
        <div style="min-height: 75vh; flex-grow: 1"></div>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" size-md="6">
          <div data-aos="fade-up" data-aos-duration="700">
            <h2 class="brush">
              Monument Academy Public Charter School is one-of-a-kind Boarding
              School located in the nation's Capital.
            </h2>
          </div>
        </ion-col>
        <ion-col
          style="
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
          "
          size-xs="12"
          size-md="6"
        >
          <div data-aos="fade-up" data-aos-duration="500">
            <ion-button size="large" expand="full" class="learn-more">
              Learn More
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</div>
<div class="yellow-section">
  <section class="pillar">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div data-aos="fade-up" data-aos-duration="600">
            <h2>Our Mission</h2>
            <img
              loading="lazy"
              src="assets/underline-stroke-blue.svg"
              class="underline-stroke"
            />
            <p>
              Our mission is to empower students, particularly those who have
              experienced significant adversity, including involvement or risk
              of involvement in child welfare and/or other social service
              systems with the requisite academic, social, emotional, and life
              skills to be successful in college, career, and community. In
              addition, we aim to create an outstanding school that attracts,
              supports, and retains exceptional and caring people.
            </p>
            <h2>We Change Lives</h2>
            <img
              loading="lazy"
              src="assets/underline-stroke-blue.svg"
              class="underline-stroke"
            />
            <p>
              We believe all students have the capacity to succeed at high
              academic levels and experience positive life outcomes.
            </p>
          </div>
          <!-- <ion-button> See Our Programs </ion-button> -->
        </ion-col>
        <ion-col>
          <div data-aos="fade-up" data-aos-duration="600">
            <div class="column"></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</div>

<section class="tweet-feed">
  <section>
    <h2>Twitter Feed</h2>
    <img
      loading="lazy"
      src="assets/underline-stroke.svg"
      class="underline-stroke"
    />
    <section class="" style="width: 100%; height: 600px; overflow-y: scroll; scrollbar-width: thin; writing-mode: horizontal-tb; padding-left: 5px;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <a class="twitter-timeline" href="https://twitter.com/monumentacademy?ref_src=twsrc%5Etfw"></a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </section>
  <section style="width: 80%; height: 750px; writing-mode: horizontal-tb; padding-left: 5px;">
    <h3>Monument Academy Celebrates Excellence!</h3>
    <img
      loading="lazy"
      src="assets/underline-stroke.svg"
      class="underline-stroke"
    />
    <section style="width: 100%;writing-mode: horizontal-tb; padding-left: 5px;">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <div data-aos="fade-up" data-aos-duration="700">
              <img loading="lazy" src="assets/images/celebration/Homepage.jpeg" alt="" />
            </div>
            <p>
              Congratulations to 2022 Teacher of the Year, Paul Tarrance, and Staff Member of the Year,
              Daevon Johhnson!
            </p>
            <a [ngClass]="isDesktop ? 'desktop-anchor' : 'mobile-anchor'">
              <ion-button
                color="tertiary"
                [fill]="isDesktop ? 'none' : 'solid'"
                [expand]="isDesktop ? '' : 'block'"
                routerLink="/academy-celebrate"
              >
                See more.
              </ion-button>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </section>
</section>

<section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Academics</h2>
        <img
          loading="lazy"
          src="assets/underline-stroke.svg"
          class="underline-stroke"
        />
        <h3>
          Monument Academy's academic programs are centered on thematic
          planning, supported by exposure through relevant field experiences,
          project-based learning enriched in principles of Webb's Depth of
          Knowledge, higher-order questioning as rooted in Bloom's Taxonomy, and
          robust writing across curriculum with the use of the Collins Writing
          Program to target individual student needs.
        </h3>
      </ion-col>
    </ion-row>
    <ion-row class="wrap-reverse">
      <ion-col class="top-col">
        <p>
          Each Monument Academy student engages in a targeted learning journey
          that is rooted in data driven instruction as evidenced by
          triangulation of NWEA Measures of Academic (MAP) data (implemented 3x
          a year), quarterly assessments, and teacher-made assessments. In
          addition, qualitative data is captured through monthly learning walks,
          weekly collaborative planning sessions, and teacher feedback We seek
          to develop self-directed learners by engaging students in academic
          goal-setting during student led conferences, and structuring an
          environment that provides options for how students access content,
          practice new skills, and demonstrate mastery of the standards using
          technology and research.
        </p>
        <a [ngClass]="isDesktop ? 'desktop-anchor' : 'mobile-anchor'">
          <ion-button
            color="tertiary"
            [fill]="isDesktop ? 'none' : 'solid'"
            [expand]="isDesktop ? '' : 'block'"
            routerLink="/academics"
          >
            Learn more about Academics
          </ion-button>
        </a>
      </ion-col>
      <ion-col>
        <div data-aos="fade-up">
          <img loading="lazy" src="assets/images/monument-1.png" alt="" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
<section>
  <h2>Family-Style</h2>
  <img
    loading="lazy"
    src="assets/underline-stroke.svg"
    class="underline-stroke"
  />
  <h3>
    Students board at Monument Academy from Sunday evening through to Friday
    afternoon. They live in small, family-style single gender homes, with two
    Student Life Advisors for each home of 10 students.
  </h3>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div data-aos="fade-up-right" data-aos-duration="700">
          <img loading="lazy" src="assets/images/monument-2.png" />
        </div>
      </ion-col>
      <ion-col class="top-col">
        <p>
          Students receive a personal wake-up and eat a family-style breakfast
          every morning with their Student Life Advisors and Student Life Family. Students
          share a personal daily goal with their family and head to advisory for
          community building.
        </p>
        <a [ngClass]="isDesktop ? 'desktop-anchor' : 'mobile-anchor'">
          <ion-button
            color="tertiary"
            [fill]="isDesktop ? 'none' : 'solid'"
            [expand]="isDesktop ? '' : 'block'"
            routerLink="/boarding-student-life-program"
          >
            Learn more about Family-Style Boarding
          </ion-button>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Well-Being Program</h2>
        <img
          loading="lazy"
          src="assets/underline-stroke.svg"
          class="underline-stroke"
        />
        <h3>
          At Monument Academy, the nurturing of students’ social and emotional
          well-being is at the center of our work.
        </h3>
      </ion-col>
    </ion-row>
    <ion-row class="wrap-reverse">
      <ion-col class="top-col">
        <p>
          Monument Academy is staffed with 3 school counselors, a lead
          counselor, and a director. Related services (psychological, speech
          therapy, and occupational therapy) are provided by Premier
          Psychological Services, LLC; and Psychological Assessment Solutions.
          Additionally, we partner with SMILE, Family Solutions, and Outreach
          Solutions, Incorporated to provide mental health services to our
          students and families. Our Well-Being staff provide evidenced-based
          behavioral, emotional, and therapeutic support for the students.
        </p>
        <a [ngClass]="isDesktop ? 'desktop-anchor' : 'mobile-anchor'">
          <ion-button
            color="tertiary"
            [fill]="isDesktop ? 'none' : 'solid'"
            [expand]="isDesktop ? '' : 'block'"
            routerLink="/well-being-program"
          >
            Learn more about Well-Being Program
          </ion-button>
        </a>
      </ion-col>
      <ion-col>
        <div data-aos="fade-up" data-aos-duration="700">
          <img loading="lazy" src="assets/images/monument-3.png" alt="" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section>
  <h2>Extended Day Learning Opportunities</h2>
  <img
    loading="lazy"
    src="assets/underline-stroke.svg"
    class="underline-stroke"
  />
  <ion-grid>
    <ion-row>
      <ion-col>
        <div data-aos="fade-up-right" data-aos-duration="700">
          <img loading="lazy" src="assets/images/monument-4.png" />
        </div>
      </ion-col>
      <ion-col class="top-col">
        <p>
          After the academic day, students continue to learn and grow through a
          variety of academic, enrichment, and athletic programs. Through
          extended day learning, students have the opportunity to participate in
          clubs that teach valuable life skills, provide real-life experience
          and encourage academic and social-emotional growth.
        </p>
        <a [ngClass]="isDesktop ? 'desktop-anchor' : 'mobile-anchor'">
          <ion-button
            color="tertiary"
            [fill]="isDesktop ? 'none' : 'solid'"
            [expand]="isDesktop ? '' : 'block'"
            routerLink="/extended-day-learning"
          >
            Learn more about Extended Day Learning Opportunities
          </ion-button>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<div class="yellow-section">
  <section>
    <div>
      <h2 class="text-center">Monumental Markers</h2>
      <img
        loading="lazy"
        src="assets/underline-stroke-blue.svg"
        class="underline-stroke-centered"
      />
      <p style="text-align: center;">The COVID-19 pandemic created unprecedented challenges for schools across the globe.
        Monument Academy adapted swiftly to the changing environment while also maintaining
        fidelity to the strategies that have proven to be most successful, and students
        continued to thrive.
      </p>
    </div>
    <ion-grid class="monumental-markers" style="display: flex">
      <ion-row style="align-items: center">
        <ion-col
          *ngFor="let marker of monumentalMarkers"
          size="4"
          size-xl="4"
          size-lg="4"
          size-md="12"
          size-sm="12"
          size-xs="12"
          class="emphasize white"
          style="padding: 5em"
        >
          <h2 class="marker">
            <span> {{ marker.stat }} </span>
          </h2>
          <p class="marker">
            {{ marker.description }}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</div>

<section>
  <h2 class="text-center">Monumental Sports</h2>
  <img
    loading="lazy"
    src="assets/underline-stroke.svg"
    class="underline-stroke-centered"
  />
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>
          Monument Academy offers a variety of sports for students such as:
        </h3>
        <ul>
          <li *ngFor="let sport of monumentalSports">
            <p>
              <b>{{ sport }}</b>
            </p>
          </li>
        </ul>
      </ion-col>
      <ion-col>
        <div data-aos="fade-down" data-aos-duration="500">
          <img
            loading="lazy"
            src="assets/mascot.svg"
            alt="Monument Academy Mascot"
          />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<div class="yellow-section" *ngIf="slides?.length">
  <section>
    <h2 class="text-center">Monumental Moments</h2>
    <img
      loading="lazy"
      src="assets/underline-stroke-blue.svg"
      style="width: 180px; display: flex; align-self: center; margin: auto"
    />

    <div data-aos="fade-up" data-aos-duration="700">
      <ion-slides
        #momentsSlider
        [hidden]="!isDesktop"
        [options]="slideOpts.coverflow"
      >
        <ion-slide
          *ngFor="let slide of slides; let i = index"
          [hidden]="!slide?.display?.value || true"
        >
          <ion-grid class="slide-container">
            <ion-row style="width: 100%">
              <ion-col
                size="8"
                size-xs="12"
                size-md="6"
                class="ion-align-items-flex-start"
              >
                <h3 class="align-start">{{ slide?.title?.value }}</h3>
                <p class="align-start">{{ slide?.description?.value }}</p>
              </ion-col>
              <ion-col size="4" size-xs="12" size-md="6">
                <img
                  loading="lazy"
                  [src]="imageUrl + slide?.image?.value?.url"
                  class="rounded slider-image"
                />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </div>

    <ion-slides
      #responsiveSlider
      [hidden]="isDesktop"
      [options]="slideOpts.normal"
    >
      <ion-slide
        *ngFor="let slide of slides; let i = index"
        [hidden]="!slide?.display?.value"
      >
        <div class="slides-responsive">
          <img
            loading="lazy"
            [src]="imageUrl + slide?.image?.value?.url"
            class="rounded small"
          />

          <ion-card class="slide-card">
            <h3>{{ slide?.title?.value }}</h3>
            <p>{{ slide?.description?.value }}</p>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>

    <div
      [class]="isDesktop ? 'swiper-nav' : 'swiper-nav responsive'"
      *ngIf="slides?.length > 1"
    >
      <ion-fab
        class="right"
        vertical="center"
        horizontal="end"
        edge="true"
        slot="fixed"
      >
        <ion-fab-button
          (click)="slideNext(isDesktop ? momentsSlider : responsiveSlider)"
        >
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab
        class="left"
        vertical="center"
        horizontal="start"
        edge="true"
        slot="fixed"
      >
        <ion-fab-button
          (click)="slidePrev(isDesktop ? momentsSlider : responsiveSlider)"
        >
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </section>
</div>
