<app-hero [pageTitle]="pageTitle" [heroImg]="heroImg"></app-hero>
<section>
  <h3>
    <b>
      Join us at Monument Academy! We are enrolling 5th, 6th, 7th, and 8th grade
      students who are residents of Washington, D.C. Read on to learn more.
    </b>
  </h3>
  <img
    loading="lazy"
    src="assets/underline-stroke.svg"
    class="underline-stroke"
  />

  <h3>Who can apply?</h3>
  <p>
    We are serving 5th, 6th, 7th, and 8th grade students in the 2021-22 year.
  </p>
  <h3>How do I apply?</h3>
  <p>
    Monument Academy participates in the My School DC lottery. You can reach our
    Registrar and Engagement Coordinator, Lakisha Lyles at
    <a href="mailto:lakisha.lyles@mapcsdc.org">lakisha.lyles@mapcsdc.org</a>.
    You can also call the school at
    <a href="tel:+1-202-545-3180">(202) 545-3180</a> to set up an appointment to
    speak about applying and enrolling. Please click on the link below to reach
    the My School DC lottery site.
  </p>
  <h3>What if the lottery date has already passed?</h3>
  <p>
    Monument Academy will continue to accept applications after the lottery
    date. Once all spaces are filled, applicants will be added to the waiting
    list. Please click on the link below to reach the My School DC lottery site,
    and click on the “Submit your post-lottery application today” button to
    apply.
  </p>
  <a href="https://www.myschooldc.org/" target="_blank" rel="no-follow">
    <ion-button color="secondary">Apply Now!</ion-button>
  </a>
  <h3></h3>
  <p></p>
  <h3>What documents do I need?</h3>
  <p>
    The following documents are required in order to hold your spot at Monument
    Academy for the 2021-22 school year:
  </p>
  <ul>
    <li>
      <p>
        Completed student enrollment form (you will fill this out when you meet
        with the Monument Academy team)
      </p>
    </li>
    <li>
      <p>
        My School DC Seat Acceptance Form (form available
        <a
          href="https://www.myschooldc.org/sites/default/files/dc/sites/myschooldc/page/attachments/SY19-20%20MSDC%20Seat%20Acceptance%20Form%20%28ENG%29.pdf"
          target="_blank"
          rel="no-follow"
          >here</a
        >)
      </p>
    </li>
    <li>
      <p>
        Proof of DC residency and a signed DC Residency Verification Form (Bring
        all documents in-person, directly to the campus. Documents must be
        originals, not copies, with the name of the parent or legal guardian
        enrolling the student)
      </p>
    </li>
    <ul>
      <p>We recommend ONE of the following:</p>
      <li>
        <p>
          A pay stub, issued within 45 days with your DC address and DC taxes.
          Maryland and Virginia pay stubs are not valid.
        </p>
      </li>
      <li>
        <p>
          Proof of financial assistance from the DC Government on official
          letterhead or sent directly from a DC office, such as Housing
          Assistance, TANF, or Food Stamps.
        </p>
      </li>
      <li>
        <p>Supplemental Security Income (SSI) annual benefits notification</p>
      </li>
      <li>
        <p>Verification Letter and Military Housing Orders</p>
      </li>
      <p>
        Or TWO of the following with the same name and address on both
        documents:
      </p>
      <li>
        <p>Unexpired DC motor vehicle registration</p>
      </li>
      <li>
        <p>Unexpired lease or rental agreement</p>
      </li>
      <li>
        <p>
          Unexpired DC motor vehicle operator’s permit (or other official
          non-driver identification)
        </p>
      </li>
      <li>
        <p>Utility bill (ONLY gas, electric, and water are acceptable)</p>
      </li>
    </ul>
    <li>
      <p>
        DC Universal Health Certificate (form available
        <a
          href="https://dchealth.dc.gov/sites/default/files/dc/sites/doh/service_content/attachments/DOH%20Universal%20Health%20Certificate_2019_0.pdf"
          target="_blank"
          rel="no-follow"
          >here</a
        >)
      </p>
    </li>
    <ul>
      <li>
        <p>
          For any children who have health forms expiring before September 1,
          2021, new Health Certificates must be submitted.
        </p>
      </li>
    </ul>
    <li>
      <p>
        DC Oral Health Assessment Form (form available
        <a
          href="https://dchealth.dc.gov/sites/default/files/dc/sites/doh/service_content/attachments/DOH%20Oral%20Health%20Assessment%20Form%202019.pdf"
          target="_blank"
          rel="no-follow"
          >here</a
        >)
      </p>
    </li>
    <ul>
      <li>
        <p>
          For any children who have oral health forms expiring before September
          1, 2021, new forms must be submitted.
        </p>
      </li>
    </ul>
    <li>
      <p>
        Home Language Survey:
        <a
          href="https://osse.dc.gov/sites/default/files/dc/sites/osse/publication/attachments/2020%20OSSE%20Home%20Language%20Survey.pdf"
          target="_blank"
          rel="no-follow"
          >access here</a
        >
      </p>
    </li>
    <li>
      <p>Student’s Birth Certificate</p>
    </li>
    <li>
      <p>Parent/Guardian Proof of Identity</p>
    </li>
    <ul>
      <li>
        <p>
          Please submit in person. Can be an unexpired legal form of
          identification like a Drivers License, State ID, or Passport.
        </p>
      </li>
    </ul>

    <li>
      <p>Entire Special Education File (if applicable)</p>
    </li>
    <li>
      <p>
        Final (4th Quarter) Report Card from Current School (once available)
      </p>
    </li>
    <li>
      <p>
        If you do not provide these items, you may be moved to the wait list in
        the event that we are fully enrolled.
      </p>
    </li>
  </ul>
</section>
