<header class="main">
  <h2>Monument Academy Celebrates Excellence!</h2>
  <img
    loading="lazy"
    src="assets/underline-stroke.svg"
    class="underline-stroke"
  />

  <p style="margin-top: 20px">
    In December, Monument Academy celebrated all that we accomplished in 2022 and announced our first-ever
    Teacher of the Year and Staff Member of the Year! These awards are given to individuals who exemplify
    what it means to be present and engaged and go above and beyond for our school and students.
    We are excited to announce our winners, Paul Tarrance and Daevon Johnson, and are so grateful for their
    contributions to the Monument Academy community! Congratulations!
  </p>

  <p>
    After awards were presented, a celebration ensued among Monument Academy staff, board members,
    supporters, community partners, family, and friends!
  </p>
</header>

<mat-grid-list cols="2" class="grid-images" rowHeight="2:1">
  <mat-grid-tile
    *ngFor="let tile of tiles; let i = index"
  >
    <img
      loading="lazy"
      src="{{ tile.image }}"
      (click)="showLightbox(i)"
    />
  </mat-grid-tile>
</mat-grid-list>

<!-- ng-image-fullscreen-view  -->
<ng-image-fullscreen-view
  [images]="tiles"
  [imageIndex]="currentIndex"
  [show]="showFlag"
  (close)="closeEventHandler()"></ng-image-fullscreen-view>
