<nav class="topnav" id="myTopnav">
  <div class="red-top-banner" id="red-top-banner">
    <div>
      <a routerLink="/"> </a>
    </div>
  </div>
  <section class="section-nav">
    <a routerLink="/" class="first-icon" style="padding: 0px; margin: 0px">
      <img
        src="assets/monument-main-logo.png"
        class="top-logo"
        id="top-logo-switch"
        alt="Monument Academy logo"
      />
    </a>

    <a style="cursor: pointer" class="icon" (click)="openNav()"
      ><i class="material-icons" rounded>menu</i></a
    >
    <span class="nav-span" id="responsive">
      <div
        mat-button
        [matMenuTriggerFor]="AboutUs"
        class="dropdown underline nav-items"
        matTooltip="click to open menu"
      >
        About Us
        <ion-icon name="chevron-down-outline"></ion-icon>
        <mat-menu #AboutUs="matMenu">
          <a routerLink="/about-us" mat-menu-item class="link-drop">About Us</a>
          <a routerLink="/team" mat-menu-item class="link-drop">team</a>
          <a routerLink="/board" mat-menu-item class="link-drop"
            >Board of Directors</a
          >
          <a routerLink="/partnerships" mat-menu-item class="link-drop"
            >Partnerships</a
          >
          <a routerLink="/awards" mat-menu-item class="link-drop">Awards</a>
          <a routerLink="/donate" mat-menu-item class="link-drop">Donate</a>
        </mat-menu>
      </div>

      <div
        mat-button
        [matMenuTriggerFor]="Programs"
        class="dropdown underline nav-items"
        matTooltip="click to open menu"
      >
        Our Programs
        <ion-icon name="chevron-down-outline"></ion-icon>
        <mat-menu #Programs="matMenu">
          <a routerLink="/a-day-at-monument" mat-menu-item class="link-drop"
            >A Day At Monument</a
          >
          <a routerLink="/academics" mat-menu-item class="link-drop"
            >Academics</a
          >
          <a routerLink="/well-being-program" mat-menu-item class="link-drop"
            >Well-Being</a
          >
          <a routerLink="/life-skills-program" mat-menu-item class="link-drop"
            >Life Skills</a
          >
          <a
            routerLink="/boarding-student-life-program"
            mat-menu-item
            class="link-drop"
            >Boarding & Student Life Program</a
          >
          <a
            routerLink="/national-lunch-program"
            mat-menu-item
            class="link-drop"
            >National Schools Lunch Program</a
          >
        </mat-menu>
      </div>
      <a routerLink="/enrollment" class="nav-items">Enrollment</a>
      <a routerLink="/careers">Careers</a>
      <a routerLink="/knowledge-center">Knowledge Center</a>
      <a routerLink="/family-resources">Family Resources</a>
      <a routerLink="/donate" class="nav-items nav-item-bg">Donate</a>
    </span>
  </section>
</nav>
