<div style="position: relative">
  <video autoplay muted loop width="100%" oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="https://monument-academy-dev.s3.amazonaws.com/FinalCut.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<app-hero pageTitle="About Us"></app-hero>
<section>
  <ion-grid>
    <ion-row>
      <ion-col xs="12" md="8">
        <app-animated [animation]="'fade-right'">
          <div class="animated">
            <h1 style="font-weight: bold">
              <ion-text color="primary">Monument Academy</ion-text>
            </h1>
            <img
              loading="lazy"
              src="assets/underline-stroke.svg"
              class="underline-stroke"
            />
            <h3 class="matt-overline">Founded in 2014 by <a routerLink="/board" fragment="EmilyBloomfield">Emily Bloomfield</a></h3>
            <h3> Monument Academy is a weekday boarding school for students in Washington, DC, currently open to 5-8th graders. </h3>
            <p> Monument Academy’s DC PCSB Profile can be found <a href="https://www.dcpcsb.org/school/monument-academy-pcs" target="_blank">here.</a></p>
            <p>
              Monument Academy PCS is a weekday boarding school with a mission
              to empower students, particularly those who have experienced
              significant adversity, including involvement or risk of
              involvement in child welfare and/or other social service systems
              with the requisite academic, social, emotional and life skills to
              be successful in college, career and community. In addition, we
              aim to create an outstanding school that attracts, supports, and
              retains exceptional and caring people. The school is based on five
              pillars: small class sizes with personalized education, social and
              emotional well-being services, life skills, a consistent adult
              connection, and stability. We offer Spanish, Performing Arts, and
              Music. Our students live in single-gender family-style homes with
              a houseparent couple. We offer an array of after school
              activities, field trips, and an end-of-year college visit.
            </p>
          </div>
        </app-animated>
      </ion-col>
      <ion-col xs="12" md="4">
        <app-animated [animation]="'fade-up'">
          <div
            style="
              height: fit-content;
              display: flex;
              align-items: center;
              justify-content: center;
            " class="animated">
            <img src="../../../assets/monument-logo.svg" style="width: 100%; max-width: 350px" />
          </div>
        </app-animated>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
<section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-animated [animation]="'fade-right'">
          <div class="animated">
            <img src="../../../assets/images/monument-14.png" />
          </div>
        </app-animated>
      </ion-col>

      <ion-col xs="12" md="6">
        <app-animated [animation]="'fade-up'">
          <div class="animated">
            <h2>Our Mission</h2>
            <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
            <p>
              Our mission is to empower students, particularly those who have
              experienced significant adversity, including involvement or risk
              of involvement in child welfare and/or other social service
              systems with the requisite academic, social, emotional and life
              skills to be successful in college, career and community. In
              addition, we aim to create an outstanding school that attracts,
              supports, and retains exceptional and caring people.
            </p>
          </div>
        </app-animated>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
<section>
  <ion-grid>
    <ion-row>
      <ion-col xs="12" md="6">
        <app-animated [animation]="'fade-right'">
          <div class="animated">
            <h2>Our Philosphy</h2>
            <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke" />
            <p>
              Our philosophy for educating our students is rooted in a belief
              that all students have the capacity to succeed at high academic
              levels and experience positive life outcomes. While many students
              may have been subject to adverse childhood experiences, these
              events do not define who they are or predetermine their
              trajectories.
            </p>

            <p>
              We also believe in a growth mindset, where adults and students
              value hard work, persistence, and the process of learning, and
              understand that valuing dedication and effort, not “talent” and
              “fixed ability,” foster a love of learning and improved outcomes
              both academically and personally.
            </p>

            <p>
              Our school is designed with an emphasis on personalized learning,
              experience-based learning, and social-emotional well-being to
              ensure that students with disabilities or who are English Language
              Learners will benefit from our school.
            </p>
          </div>
        </app-animated>
      </ion-col>
      <ion-col
        xs="12"
        md="6"
        style="display: flex"
        class="ion-align-items-center"
      >
        <app-animated [animation]="'fade-up'">
          <img src="../../../assets/images/monument-5.png" class="animated" />
        </app-animated>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
<section class="yellow-section">
  <ion-grid>
    <div style="margin: 24px; text-align: center">
      <h2>Guiding Principles</h2>
      <img loading="lazy" src="assets/underline-stroke-blue.svg" class="underline-stroke-centered" />
    </div>
    <ion-row class="ion-justify-content-center">
      <ion-col
        *ngFor="let principle of guidingPrinciples"
        size-xs="8"
        size-md="4"
        size-lg="3"
        size-xl="2"
      >
        <ion-card class="hover-card principle">
          <div style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              flex-grow: 1;
            ">
            <ion-icon> </ion-icon>
          </div>
          <ion-card-header>
            <ion-card-title>
              <h4>{{ principle.title }}</h4>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ principle.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
<section class="violet-section">
  <ion-grid>
    <div style="margin: 24px; text-align: center">
      <h2>Core Values</h2>
      <img loading="lazy" src="assets/underline-stroke.svg" class="underline-stroke-centered" />
    </div>
    <ion-row class="ion-justify-content-center">
      <ion-col
        *ngFor="let value of coreValues"
        size-xs="8"
        size-md="4"
        size-lg="4"
        class="ion-justify-content-center"
      >
        <ion-card class="hover-card principle-2 round">
          <div style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              flex-grow: 1;
            ">
            <ion-icon> </ion-icon>
          </div>
          <ion-card-header class="values-text">
            <ion-card-title color="primary">
              {{ value.title }}
            </ion-card-title>
            <ion-card-subtitle>
              {{ value.spelling }}
            </ion-card-subtitle>
            <ion-card-content>
              {{ value.description }}
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
