<ion-fab
  class="fab"
  style="position: fixed"
  vertical="bottom"
  horizontal="end"
  slot="fixed"
  cdkDragLockAxis="y"
  cdkDrag
  [cdkDragStartDelay]="10"
  [cdkDragFreeDragPosition]="dragPosition"
  (cdkDragStarted)="handleDragStart($event)"
  (click)="handleClick($event)"
  [activated]="dragging === false"
>
  <ion-fab-button class="main-button" color="secondary">
    <ion-fab vertical="top" horizontal="start" slot="fixed"></ion-fab>
    <ion-icon class="main-icon" color="light" name="calendar"></ion-icon>
  </ion-fab-button>

  <ion-fab-list class="fab-list" side="start">
    <div class="fab-content">
      <h2 class="text-center">Upcoming Events</h2>
      <img
        loading="lazy"
        src="assets/underline-stroke-blue.svg"
        class="underline-stroke-centered"
      />

      <ion-grid class="event-content">
        <ion-row
          ><ion-text
            ><h5>
              For more information and a detailed calendar click
              <a href="/updates-calendar" target="_blank"> Here </a>!
            </h5></ion-text
          ></ion-row
        >
        <ion-row>
          <ion-col size="12" class="scrollable">
            <ion-list-header lines="full">
              <ion-text color="medium"><p>Coming up</p></ion-text>
            </ion-list-header>
            <ion-card
              class="event-card"
              *ngFor="let event of eventData"
              [hidden]="
                !event?.display?.value || eventDate(event?.date?.value) <= today
              "
            >
              <ion-card-header>
                <ion-toolbar mode="md">
                  <ion-card-title color="primary" style="text-align: start">{{
                    event?.name?.value
                  }}</ion-card-title>
                  <ion-card-subtitle style="text-align: start">
                    <div style="display: flex; align-items: center">
                      <ion-icon
                        slot="start"
                        name="calendar-outline"
                        style="margin-right: 4px"
                      ></ion-icon>
                      <ion-text>{{
                        eventDate(event?.date?.value) | date: "fullDate"
                      }}</ion-text>
                    </div>
                    <div style="display: flex; align-items: center">
                      <ion-icon
                        slot="start"
                        name="time-outline"
                        style="margin-right: 4px"
                      ></ion-icon>
                      <ion-text>
                        {{
                          eventDate(event?.date?.value) | date: "shortTime"
                        }}</ion-text
                      >
                    </div>
                  </ion-card-subtitle>
                  <ion-buttons slot="end" fill="solid">
                    <div class="event-link" *ngIf="event?.file?.value[0]?.url">
                      <a
                        [href]="
                          (event.localAsset
                            ? '../../../assets/documents/'
                            : '') + event.file.value[0].url
                        "
                        target="_blank"
                      >
                        Download
                      </a>
                    </div>

                    <div class="event-link" *ngIf="event?.eventLink">
                      <a [href]="event?.eventLink?.value" target="_blank">
                        Register
                      </a>
                    </div>
                  </ion-buttons>
                </ion-toolbar>
              </ion-card-header>
            </ion-card>
            <ion-list-header lines="full">
              <ion-text color="medium"><p>Announcements</p></ion-text>
            </ion-list-header>
            <ion-card
              class="event-card announcement"
              *ngFor="let announcement of announcementData"
              [hidden]="!announcement?.display?.value"
            >
              <ion-card-header>
                <ion-toolbar mode="md">
                  <ion-card-title color="primary" style="text-align: start">{{
                    announcement?.name?.value
                    }}</ion-card-title>
                  <ion-buttons slot="end" fill="solid">
                    <div
                      class="event-link"
                      *ngIf="announcement?.file?.value[0]?.url"
                    >
                      <a
                        [href]="announcement?.file?.value[0]?.url"
                        target="_blank"
                      >
                        Download
                      </a>
                    </div>
                    <div class="event-link" *ngIf="announcement?.link?.value">
                      <a [href]="announcement?.link?.value" target="_blank">
                        Go
                      </a>
                    </div>
                  </ion-buttons>
                </ion-toolbar>
              </ion-card-header>
            </ion-card>
            <ion-list-header lines="full">
              <ion-text color="medium"><p>Past Events</p></ion-text>
            </ion-list-header>
            <ion-card
              class="event-card"
              *ngFor="let event of eventData"
              [hidden]="
                !event?.display?.value || eventDate(event?.date?.value) >= today
              "
            >
              <ion-card-header>
                <ion-toolbar mode="md">
                  <ion-card-title color="primary" style="text-align: start">{{
                    event?.name?.value
                  }}</ion-card-title>
                  <ion-card-subtitle style="text-align: start">
                    <div style="display: flex; align-items: center">
                      <ion-icon
                        slot="start"
                        name="calendar-outline"
                        style="margin-right: 4px"
                      ></ion-icon>
                      <ion-text>{{
                        eventDate(event?.date?.value)
                          | date: "fullDate" || "No Date Set"
                      }}</ion-text>
                    </div>
                    <div style="display: flex; align-items: center">
                      <ion-icon
                        slot="start"
                        name="time-outline"
                        style="margin-right: 4px"
                      ></ion-icon>
                      <ion-text>
                        {{
                          eventDate(event?.date?.value)
                            | date: "shortTime" || "No Time Set"
                        }}</ion-text
                      >
                    </div>
                  </ion-card-subtitle>
                  <ion-buttons slot="end" fill="solid">
                    <div class="event-link" *ngIf="event?.file?.value[0]?.url">
                      <a
                        [href]="
                          (event.localAsset
                            ? '../../../assets/documents/'
                            : '') + event.file.value[0].url
                        "
                        target="_blank"
                      >
                        Download
                      </a>
                    </div>
                  </ion-buttons>
                </ion-toolbar>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-fab-list>
</ion-fab>
