  <ion-fab
  class="fab"
  style="position: fixed;"
  vertical="bottom"
  horizontal="end"
  slot="fixed"
  cdkDragLockAxis="y"
  cdkDrag
  [cdkDragStartDelay]="10"
  [cdkDragFreeDragPosition]="dragPosition"
  (cdkDragStarted)="handleDragStart($event)"
  (click)="handleClick($event)"
  [activated]="dragging === false"
  >

  <ion-fab-button class="main-button" color="secondary"
>
    <ion-fab vertical="top" horizontal="start" slot="fixed"></ion-fab>
    <ion-icon class="main-icon" color="light" name="calendar"></ion-icon>
  </ion-fab-button>

  <ion-fab-list class="fab-list" side="start"
  >
      <div class="event-content" >
           <h2 class="text-center">Updates & Events</h2>
    <img loading="lazy" src="assets/underline-stroke-blue.svg" class="underline-stroke-centered" />
    <ion-grid>
      <ion-row *ngFor="let cont of content | keyvalue"class="ion-justify-content-center " >
        <div [innerHTML]="cont.value"> </div>
      </ion-row>

    </ion-grid>
      </div>

    </ion-fab-list>
  </ion-fab>





