// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$monument-angular-primary: mat-palette($mat-indigo);
$monument-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$monument-angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$monument-angular-theme: mat-light-theme(
  (
    color: (
      primary: $monument-angular-primary,
      accent: $monument-angular-accent,
      warn: $monument-angular-warn,
    ),
  )
);
:root {
  --ion-color-tertiary: #7d24ff;
  scroll-padding-top: 115px !important;
}
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($monument-angular-theme);

/* You can add global styles to this file, and also import other style files */

$colors: (
  primary: #042f54,
  secondary: #fecf31,
  accent: #7d24ff,
  links: #6aa3d4,
  white: #fff,
  black: #000,
  grey: #888888,
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}
$padding: 1em;
$radius: 15px;
$shadow: 3px 5px 15px rgba(0, 95, 255, 0.15);
$deep-shadow: 0px 5px 15px -7px var(--ion-color-primary);
#primary {
  color: #042f54;
}
html {
  scroll-behavior: smooth !important;
}
html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: inherit !important;
  overflow-y: inherit !important;
}
h1 {
  font-size: 64px !important;
  font-family: "Oswald", sans-serif;
  color: color(primary);
  text-transform: capitalize;
}
h1.hero-main {
  font-size: 72px !important;
  text-align: right !important;
  text-transform: capitalize !important;
}
h2 {
  font-family: "Oswald", sans-serif !important;
  color: color(primary);
  font-size: 3em !important;
  font-weight: bold !important;
}
h3 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.7em !important;
  color: color(primary);
  line-height: 1.5em !important;
  font-weight: 600 !important;
}
h4 {
  font-family: "Montserrat", sans-serif;
  // text-transform: uppercase;
  // font-size: 32px;
  font-size: 24px;
  color: color(primary);
}
h5 {
  font-family: "Montserrat", sans-serif;
  // text-transform: uppercase;
  font-size: 18px;
  color: color(primary);
}
h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  line-height: 2;
  color: var(--ion-color-medium);
}
p {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  color: color(primary);
  line-height: 1.5em;
}
.text-center {
  text-align: center;
}

header {
  background-image: url("assets/hero-bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}
header.main-hero {
  min-height: 80vh;
  padding: 2em;
  padding-top: 180px;
}

.yellow-section {
  background-color: color(secondary);
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
}
.violet-section {
  background-color: color(accent);
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;

  p,
  h2,
  h3 {
    color: color(white) !important;
  }
  a {
    color: color(primary) !important;
  }
}

section {
  width: 90%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}
h2.marker {
  font-family: "Segoe UI" !important;
  text-align: center;
  font-weight: 800 !important;
}
p.marker {
  text-align: center;
}
.underline-stroke {
  width: 150px;
}
.underline-stroke-centered {
  width: 150px;
  display: flex;
  align-self: center;
  margin: auto;
}

hr {
  background: color(accent);
  height: 2px !important;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  overflow: visible;
}
hr:after {
  content: " - ";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2.5em;
  padding: 0 0.25em;
  background: white;
  color: rgb(255 255 255 / 0%) !important;
  font-weight: bold;
  background-image: url("assets/monument_logo-short.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

ion-slides {
  height: 100%;
}

ion-note {
  margin: 10px;
}
ion-card {
  box-shadow: $shadow;
}

ion-col {
  min-width: 200px;
}

.top-col {
  z-index: 1;
}

a.desktop-anchor {
  color: color(links) !important;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: bold;
  cursor: pointer;
  display: block;
  ion-button {
    --padding-start: 0 !important;
    height: 5em !important;
  }
}

a.desktop-anchor:hover {
  color: color(accent) !important;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: bold;
  cursor: pointer;
  background-image: url("./assets/underline-stroke.svg");
  background-position: 0 100%;
  background-size: 6em;
  background-repeat: no-repeat;
  display: block;
  ion-button {
    --padding-start: 0 !important;
    height: 5em !important;
  }
}

a.desktop-anchor:after {
  content: "\2014";
  color: color(links) !important;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  vertical-align: sub;
}

a.mobile-anchor {
  color: color(links) !important;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: bold;
  width: 85vw;
  cursor: pointer;
  // display: block;
  ion-button {
    --padding-start: 0 !important;
    height: 5em !important;
  }
}

ion-card.hover-card {
  min-height: 300px;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: perspective(1px) translateZ(0);
  &:hover {
    transform: scale(1.1);
    border: 3px solid var(--ion-color-secondary);
  }
}

span.emphasize {
  background-image: url("assets/brush1.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

span.white {
  background-image: url("assets/brush1_white-01.png");
}
